@charset "UTF-8";

/* 一定要寫在第一行 */
/* eric css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* index */
/* ----------------------------------------共用---------------------------------------- */
/* 圖片不要間距 */

* {
    font-family: "Noto Sans TC";
}

body {
    clear: both;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 15px;
}

hr {
    color: #797474;
    /* width: 700px; */
}

a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #1d201d;
}

/* -----------------------------------------all_section 全部統一比例總寬度1000----------------------*/
/* 其他區域通用 */
.all_section {
    width: 1000px;
    height: auto;
    /* border: #ff0109 5px solid; */
}

/* topbar專屬 */
.all_section_topbar {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* border: #f00e0e 5px solid; */
}


/* -----------------------------共用字體------------------------- */
body {
    font-family: 中文"Noto Serif TC", "Noto Sans TC", 英文"Arial", "Unna", "Cinzel";
}

/* topbar */
#topbar {
    background-color: #3C4935;
    display: flex;
    justify-content: center;
    font-family: 中文"Noto Sans TC", "Noto Serif TC", 英文"Arial", "Unna", "Cinzel";
}

/* x */
/* topbar專屬 */
/* .all_section_topbar {
    color: white;
    width: 1000px;
    justify-content: space-between;
    border: #5f9cd1 5px solid;
    display: flex;
} */



#topbar a {
    color: #fff;
    text-decoration: none;
}

/* 左邊menu區塊 */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: #d15f6b 5px solid; */
    width: 500px;
}

/* 每個文字方塊 */
#topbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* 右邊icon區塊 */
.topbar_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: #c4e072 5px solid; */
}

.topbar_img {
    width: 50px;
    height: 20px;
}

.topbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #74c090 5px solid; */
    width: 100px;
}

.topbar_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar_block {
    background-color: #E7E4DB;
    opacity: 19%;
    width: 100px;
    height: 30px;
}

.topbar_word {
    color: #fff;
    z-index: 99;
    /* border: #ac42da 5px solid; */
    position: absolute;
}

/* ---------------media--------------- */

.media_section{
    justify-content: center;
    align-items: center;
    width: 1000px;
    /* text-align: center; */
    /* border: #da4242 5px solid;  */
}

.media_nav{
    /* justify-content: center; */
    text-align: center;
    /* border: #ac42da 5px solid;  */
}

.media_menu{
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* border: #42dad7 5px solid; */
}

.media_img{
    /* border: #42dad7 5px solid; */
}

.media_date{
    font-size: 14px;
    padding: 10px;
    margin: 10 0px;
    text-align: start;
    width: 700px;
}

.media_box{
    display: flex;
    /* border: #c88aa6 5px solid;  */
}


.media_block{
    /* display: flex; */
    /* border: #7742da 5px solid; */
}

.media_title{
    font-size: 16px;
}

.media_text{
    font-size: 14px;
    padding: 10px;
    margin: 10 0px;
    text-align: start;
    width: 700px;
}

/* footer */
#footer {
    background-color: #3C4935;
    color: #fff;
    display: flex;
    justify-content: space-around;

}

.footer_ul {
    display: flex;
}

.footer_li {
    position: relative;
    width: 350px;
    height: 300px;
}

/* 上面列 */
/* logo/access/contact */
.footer_nav {
    position: absolute;
    left: 0;
    top: 0;
}

/* 下面列 */
/* copyright/icon_social media/QA */
.footer_main {
    position: absolute;
    left: 0;
    bottom: 0;
}

