@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Noto+Serif+TC&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&family=Unna:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&family=Unna:ital@1&display=swap');
/*UTF-8 一定要寫在第一行 */
/* 都選400的 */
/* 第二行思源宋體 */
/* 第三行用思源黑體他會強制預設變成黑體 跳過宋體 */
/* 第四行Unna 用Regular 400 Italic */
/* 第五行用Cinzel */
/* Ariel沒有google font */


/* eric css reset重製 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* --------------------------共用--------------------------*/

/* 全部字型 */
* {
    font-family: 'Noto Serif TC', serif, 'Noto Sans TC', sans-serif, 'Unna', serif, 'Cinzel', serif;
}

body {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 16px;
}

hr {
    color: #797474;
    width: 700px;
}

a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #1d201d;
}

h1 {
    font-size: 24px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h2 {
    font-size: 16px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h3 {
    font-size: 14px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h4 {
    font-size: 12px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

.more {
    font-size: 14px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

/* 0.welcome */
#welcome {
    background-color: #3C4935;
    height: 100vh;
    position: relative;
}

.sec_bg img {
    width: 180vh;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
}

.section {
    background-color: #DACFB8;
    height: 95vh;
    position: relative;
}

/* 米色方塊 */
.block {
    background-color: #DACFB8;
    width: 300px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 330px;
    margin: 65px 108px;

    /* new1 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 30;
}

#welcome h4,
h2 {
    color: #1D201D;
}

.block img {
    width: 300px;
    height: 100px;
}

hr {
    border: solid 1px #797474;
    width: 400px;
    padding: 0;
    margin: 0;
    justify-content: start;
}

.subnav {
    position: relative;
}

.white {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.sec_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* 1.1 1.2topbar white green 精簡+100%  */
#topbar,
#topbarw {
    background-color: #3C4935;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    height: 80px;
    /* 固定捲軸 */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#topbarw {
    background-color: rgba(255, 255, 255, 0.05);

}

/* 各別區域 */
#topbar ul,
#topbarw ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 單個 */
#topbar li,
#topbarw li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* 單個文字 */
#topbar h3,
#topbarw h3 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 5px;
}

/* 快速報名 */
.signup {
    display: flex;
    background-color: rgba(155, 130, 86, .74);
    padding: 5px;
    margin: 0 20px;
}

/* 2.banner */
#banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .sec {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 背景影片MP4 */
#banner video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* RWD物件填滿 */
    object-fit: cover;
    width: 100%;
    height: 100%;

}

#banner .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#banner h1,
#banner h2,
#banner h3 {
    color: #fff;
}

#banner .more {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#banner h1 {
    /* font-size: 34px; */
    padding: 20px 0;
}

#banner h2 {
    font-size: 38px;
    padding: 20px 0;
}

#banner h4 {
    margin: 10px;
    font-size: 34px;
    color: #fff;
}

#banner h3 {
    margin: 10px;
}


/* 3.about */
#about {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about區塊 */
.about_nav {
    display: flex;
    justify-content: space-between;
}

#about p {
    font-size: 24px;
}

#about ul {
    display: flex;
    justify-content: space-between;
}

/* about文字區塊 */
.about_block {
    width: 80%;
    height: 80vh;
}

/* 對齊文字位置 */
.about_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 圖片相對位置 */
.about_box {
    position: relative;
    width: 800px;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

/* t6 */
/* 團體照片 */
.group img {
    height: 100vh;
    width: 480px;
}


/* 個人繪畫圖片 */
.about_along {
    height: 48vh;
    position: absolute;
    left: -130px;
    bottom: -30px;
    z-index: 99;
    display: flex;
    vertical-align: bottom;
}

hr {
    width: 560px;
}

/* 成為 */
.t {
    font-size: 34px;
    font-weight: bolder;
    color: #1D201D;
    letter-spacing: 5px;
    margin-top: 60px;
    width: 700px;
}

/* /ABOUT標題 */
.e {
    font-family: 'Unna', serif;
    font-size: 14px;
    font-weight: lighter;
    color: #1D201D;
    letter-spacing: 2px;
}

/* 文案 蘵感是一個... */
.p {
    font-size: 14px;
    font-weight: normal;
    color: #1D201D;
    letter-spacing: 2px;
    width: 700px;
    padding: 20px 0;
    line-height: 1.6;
}

/* 底圖大logo */
.bg_logo {
    margin-top: 180px;
    position: absolute;
    z-index: 99;
}

/* 4.course */
#course {
    height: 100vh;
    background-color: #3C4935;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* h3字體顏色 */
#course h3 {
    color: #fff;
    letter-spacing: 1px;
}

/* 整個區塊 */
#course ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
}

/* 上下相對位置 */
/* 共用上面行 */
.item1,
.item3,
.item5 {
    position: absolute;
    top: 50px;
}

/* 共用下面行 */
.item2,
.item4 {
    position: absolute;
    top: 150px;
}

/* 獨立距離 */
.item1 {
    left: 80px;
}

.item2 {
    left: 290px;
}

.item3 {
    left: 500px;
}

.item4 {
    left: 710px;
}

.item5 {
    left: 920px;
}

/* 單一區塊 */
#course li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

/* 圖片區塊 放入咖啡色區塊 */
#course .cimg {
    position: relative;
}

/* 單個圖片 */
.cimg img {
    width: 100%;
    height: 60vh;
}

/* 小標題 藝術插花和圖示 */
#course nav {
    display: flex;
    align-items: center;
}

/*藝術插花和其他的間距  */
#course span {
    padding: 0 10px;
}

/* 咖啡色區塊 */
#course .cblock h3 {
    background-color: rgba(155, 130, 86, 0.85);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 調整每個區塊相對的上下位置 */
.item1 {}

/* 5.teachers */
#teachers {
    color: #1d201d;
    background-color: #F0F0F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* 整個圖片區域 */
#teachers li {
    color: #1d201d;
    position: relative;
}

/* 師資名字 */
#teachers h2 {
    color: #fff;
    font-size: 26px;
    writing-mode: vertical-lr;
    position: absolute;
    left: 15px;
    top: 10px;
}

#teachers h4 {
    color: #fff;
    font-size: 14px;
    writing-mode: vertical-lr;
}

/* 圖片相對位置 */
.teachers_box {
    position: relative;
    width: 230px;
    height: 350px;
    display: flex;
}

/* 綠色方塊區 */
.teachers_good {
    background-color: #3C4935;
    opacity: 0.85;
    color: #fff;
    width: 70px;
    height: 300px;
    letter-spacing: 0.045em;
    position: absolute;
    right: 15px;
    bottom: -10px;
    z-index: 99;
}

/* 師資學歷 */
.teachers_college {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
}

/* 師資擅長 */
.teachers_best {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
}

/* 五個圖片區域 */
#teachers ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 130px;
}

.hr {
    border: solid 1px #797474;
    width: 700px;
}

/* 標題區 */
.n {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60px;
    top: 0;
}

/* 整個區塊 */
.a {
    position: relative;
}

/* bg_logo */
.b {
    position: absolute;
    top: -160px;
    right: 100px;
}



/* 6.news  */
#news {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 左邊圖片 */
#news .pho img {
    height: 100vh;
    width: 100%;
}

/* 右邊內容區塊 */
#news .uu {
    padding: 10px;
    margin: 30px;

}

/* 標題列 */
#news .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    position: relative;
    padding-top: 10px;
}

/* 查看更多 */
#news .more {
    padding-top: 20px;
    position: absolute;
    top: 10px;
    right: 0;
}

/* 內容大區塊 */
#news .kk {
    position: relative;
}

/* 內容小區塊 */
#news .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}


/* 向右圈圈箭頭 */
#news .arrow {
    padding-top: 20px;
    margin: 10px;
}

/* hr */
#news hr {
    margin-top: 15px;
    width: 570px;
}

/*活動快訊  */
#news h2 {
    line-height: 1.5rem;
}

/* :hover */
#news .arrow img {
    background-image: url(img/index/index-news/arrow\(白\).svg);
}

#news .arrow img:hover {
    background-image: url(img/index/index-news/arrow\(黑\).svg);
}

/* 7.media */
#media {
    height: 100vh;
}

/* 上方導覽區塊 */
#media .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


/* 標題區塊 */
#media .nav div {
    padding-top: 10px;
    margin-top: 10px;
}

/* hr位置最下面 */
#media .nav hr {
    margin-top: 25px;
}

/* 內容大區塊 */
#media .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin-top: 50px;
}

/* 直欄 */
#media .main ul {}

/* 橫列 */
#media .main li {
    padding: 0 5px;
    margin-bottom: 60px;
}

/* 8.footer */
#footer {
    background-color: #3C4935;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 400px;
}

.footer_ul {
    display: flex;
}

.footer_li {
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 上面列 */
.footer_nav {
    margin: 30px 0;
}

/* 下面列 */
.footer_main {
    margin: 30px 0;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-family: 'Unna', serif;
}

#footer h1 {
    color: #fff;
    font-size: 30px;
    font-family: 'Unna', serif;

}

#footer h3 {
    color: #E7E4DB;

}

/*----------------- signup課程報名----------------- */

/* signup共用區 */
/* 字的顏色 */
#signup h1,
#signup h2,
#signup h3 {
    color: #3C4935;
}

#signup h3 {
    font-family: 'Unna', serif;
    /* border: solid 5px pink; */
}

#signup h4 {
    color: #797474;
    font-size: 14px;
}

/* signup課程報名 */
#signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: solid 5px salmon; */
}

/* 整個區塊 */
#signup .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px salmon;  */
}

/* 左半區塊 */
#signup .dropbox {
    /* border: solid 5px salmon; */
}

/* 上面導覽區 */
#signup nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.3);
    width: 80%;
    height: 20vh;
    margin: 20px;
    /* border: solid 5px salmon; */
}

/* 小標題區 */
#signup .item {
    display: flex;
    text-align: center;
    margin: 90px 30px 60px 60px;
}

/* 課程或活動 :hover效果 */
#signup .box1 h4:hover,
#signup .box1 hr:hover {
    color: #3C4935;
    border-color: #3C4935;
    background-color: #fff;
    /* border: solid 5px salmon; */
}

/* 課程或活動/工作坊字體顏色+hr顏色 */
#signup span h4,
#signup span hr,
#signup h2 {
    color: #DACFB8;
    border-color: #DACFB8;
    width: 200px;
}

/* 下拉選單 */
#ccourse,
#name {
    display: block;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    border-color: #D8D8D8;
    border-radius: 5px;
    color: #9F9F9F;
    border-color: #D8D8D8;
    margin-left: 60px;

}

/* 加入預約清單 */
#signup .list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*  圈圈往右箭頭 */
#signup .list img {
    padding-left: 10px;
    margin-right: 30px;
}

/* 直線hr */
#signup .vline {
    display: flex;
    height: 365px;
    width: 0;
    /* border: solid 5px salmon; */
}

/* 右邊顯示選取課程或活動 */
#signup .nav2 {
    /* border: solid 5px salmon;  */
}

/* 右邊小區塊 */
#signup .list2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px;
    /* border: solid 5px rgb(191, 225, 242);  */
}

/* 清單內尚未添加課程/活動 */
#signup .list2 h2 {
    width: 250px;
}


/* signup suc區 報名成功區 */
#signup .list3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup .list3 h2,
#signup .list3 h3 {
    color: #5C5C5C;
    line-height: 20px;
}

#signup .list3 h1,
#signup .list3 h4 {
    color: #3C4935;
    line-height: 20px;
}


/* 已添加課程內容區塊  */
#signup .list3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #797474;
    width: 600px;
    height: 90px;
    margin-left: 60px;
}

/* 價格區塊*/
#signup .box2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100px;
    /* border: solid 1px red; */
    position: relative;
    margin-right: 15px;
}

/* 茶藝興趣A班 */
#signup .list3 h2{
    margin-left: 30px;
    width: 150px;
    /* border: solid 1px red; */
}

/* 週五下午... */
#signup .list3 h3{
    margin-right: 10px;
    /* border: solid 1px red; */
}
/* $8000 */
#signup .box2 div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80px;
    margin-bottom: 30px;
    /* border: solid 1px rgb(191, 232, 180); */
}

/* $ */
#signup .box2 h4{
    /* display: flex; */
}
/* 8000 */
#signup .box2 h1{
    margin-left: 10px;
    /* border: solid 1px rgb(156, 231, 230);  */
}
/* hr */
#signup .box2 hr{
    width: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}



















