@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Noto+Serif+TC&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&family=Unna:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&family=Great+Vibes&family=Indie+Flower&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Pacifico&family=Unna:ital@1&display=swap');
/*UTF-8 一定要寫在第一行 */
/* 都選400的 */
/* 第二行思源宋體 */
/* 第三行用思源黑體他會強制預設變成黑體 跳過宋體 */
/* 第四行Unna 用Regular 400 Italic */
/* 第五行用Cinzel */
/* Ariel沒有google font */


/* eric css reset重製 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ----------------------------------------共用---------------------------------------- */

/* 全部字型 */
* {
    font-family: 'Noto Serif TC', serif, 'Noto Sans TC', sans-serif, 'Unna', serif, 'Cinzel', serif;
}

body {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 16px;
}

hr {
    color: #797474;
    width: 700px;
}

a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #1d201d;
}

h1 {
    font-size: 24px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h2 {
    font-size: 16px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h3 {
    font-size: 14px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

h4 {
    font-size: 12px;
    color: #1D201D;
    letter-spacing: 2px;
    padding: 5px 0;
}

.more {
    font-size: 14px;
    color: #1D201D;
    /* color: red; */
    letter-spacing: 2px;
    padding: 5px 0;
}

/* -------------------all_section 全部統一比例總寬度1000-------------------*/
/* 暫時先不用 */
/* 其他區域通用 */
.all_section {
    width: 1000px;
    height: auto;
    /* border: #ff0109 5px solid; */
}

/* topbar專屬 */
.all_section_topbar {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* border: #f00e0e 5px solid; */
}





/* 0.welcome */
#welcome {
    background-color: #3C4935;
    height: 100vh;
    position: relative;
}

.sec_bg img {
    width: 180vh;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    /* test */
    /* position: relative; */
}

.section {
    background-color: #DACFB8;
    height: 95vh;
    /* test */
    position: relative;
    /* position: relative;
    display: flex;
    justify-content: flex-end;
    position: relative; */
}

/* no */
/* #welcome.logo {
    display: flex;S
} */

/* 米色方塊 */
.block {
    background-color: #DACFB8;
    /* t6 */
    width: 300px;
    height: 250px;
    /* test */
    position: absolute;
    left: 0;
    bottom: 0;
    /* t6 */
    /* padding: 50px;
    margin: 60px 105px; */

    /* test7 */
    width: 400px;
    height: 330px;
    margin: 65px 108px;

    /* new1 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: solid 3px salmon; */
    /* test5 */
    z-index: 30;
    /* test6 米色長寬高 */
    /* t6 */
    /* width: 400px;
    height: 350px; */
}

#welcome h4,
h2 {
    color: #1D201D;
}

.block img {
    width: 300px;
    height: 100px;
}

hr {
    border: solid 1px #797474;
    /* test5 */
    width: 400px;
    padding: 0;
    margin: 0;
    justify-content: start;
}

/* test2 */
#welcome.nav {
    /* justify-content: start;
    align-content: start; */

}

/* test3 0503 */
/* #welcome.logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
} */

/* test4 */
.subnav {
    position: relative;
}

.white {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    /* border: 5px solid red; */
}

.sec_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* 1.1 1.2topbar white green 精簡+100%  */
#topbar,
#topbarw {
    background-color: #3C4935;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    height: 80px;
    /* 固定捲軸 */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#topbarw {
    background-color: rgba(255, 255, 255, 0.05);

}

/* 各別區域 */
#topbar ul,
#topbarw ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 單個 */
#topbar li,
#topbarw li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* border: solid 3px pink; */

}

/* 單個文字 */
#topbar h3,
#topbarw h3 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 5px;
    /* border: solid 3px pink; */
}

/* 快速報名 */
.signup {
    display: flex;
    background-color: rgba(155, 130, 86, .74);
    padding: 5px;
    margin: 0 20px;
}

/* 2.banner */
#banner {
    height: 80vh;
    /* border: solid 5px rgb(186, 229, 181); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#banner .sec {
    position: relative;
    z-index: 99;
    /* border: solid 5px salmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* 背景影片MP4 */
#banner video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* RWD物件填滿 */
    object-fit: cover;
    width: 100%;
    height: 100%;

}

/* 背景影片gif img */
/* gif影片模糊不使用 */
#banner .bgvideo img,
#banner .bgvideo figure {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
    /* RWD物件填滿 */
    /* object-fit: cover;
    width: 100%;
    height: 100%; */
    /* border: solid 5px rgb(222, 176, 215); */
}

#banner .logo {
    /* z-index: 999; */
    /* border: solid 5px rgb(222, 176, 215); */
    /* width: 80px;
    height: 80px; */
    /* z-index: 2; */


}

#banner .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    /* border: solid 5px rgb(158, 178, 233); */
}

#banner h1,
#banner h2,
#banner h3 {
    color: #fff;
}

#banner .more {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#banner h1 {
    /* font-size: 34px; */
    padding: 20px 0;
}

#banner h2 {
    font-size: 38px;
    padding: 20px 0;
}

#banner h4 {
    margin: 10px;
    font-size: 34px;
    color: #fff;
}

#banner h3 {
    margin: 10px;
}


/* 3.about */
#about {
    position: relative;
    /* color: #1d201d; */
    /* color: red;
    /* background-color: #9b5698; 
    /* t6 */
    height: 100vh;
    /* border: solid 5px red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about區塊 */
.about_nav {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    /* test6 */
    /* background-color: #e8e8e8; */
}

#about p {
    font-size: 24px;
}

#about ul {
    display: flex;
    justify-content: space-between;
}

/* about文字區塊 */
.about_block {
    width: 80%;
    height: 80vh;
    /* border: solid 5px #555; */
}

/* 對齊文字位置 */
.about_section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px pink; */
}

/* 圖片相對位置 */
.about_box {
    position: relative;
    width: 800px;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    /* border: #d81919 5px solid; */
}

/* t6 */
/* 團體照片 */
.group img {
    /* height: 700px; */
    height: 100vh;
    /* width: 100%; */

    width: 480px;
    /* border: #19bbd8 5px solid; */
}


/* 個人繪畫圖片 */
.about_along {
    /* width: 30%; */
    height: 48vh;
    position: absolute;
    left: -130px;
    bottom: -30px;
    z-index: 99;
    display: flex;
    vertical-align: bottom;
}

hr {
    width: 560px;
}

/* 成為 */
.t {
    font-size: 34px;
    font-weight: bolder;
    color: #1D201D;
    letter-spacing: 5px;
    /* padding: 30px; */
    margin-top: 60px;
    width: 700px;
}

/* /ABOUT標題 */
.e {
    font-family: 'Unna', serif;
    font-size: 14px;
    font-weight: lighter;
    color: #1D201D;
    letter-spacing: 2px;
}

/* 文案 蘵感是一個... */
.p {
    font-size: 14px;
    font-weight: normal;
    color: #1D201D;
    letter-spacing: 2px;
    width: 700px;
    /* border: solid 5px red; */
    padding: 20px 0;
    line-height: 1.6;
}

/* 底圖大logo */
.bg_logo {
    margin-top: 180px;
    position: absolute;
    z-index: 99;
    /* border: solid 5px red;  */
}

/* 4.course */
#course {
    height: 100vh;
    background-color: #3C4935;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: solid 5px pink; */
}

/* h3字體顏色 */
#course h3 {
    color: #fff;
    letter-spacing: 1px;
}

/* 整個區塊 */
#course ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    /* border: solid 2px rgb(192, 232, 255); */

}

/* 上下相對位置 */
/* 共用上面行 */
.item1,
.item3,
.item5 {
    position: absolute;
    top: 50px;
}

/* 共用下面行 */
.item2,
.item4 {
    position: absolute;
    top: 150px;
}

/* 獨立距離 */
.item1 {
    left: 80px;
}

.item2 {
    left: 290px;
}

.item3 {
    left: 500px;
}

.item4 {
    left: 710px;
}

.item5 {
    left: 920px;
}

/* 單一區塊 */
#course li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* border: solid 2px pink; */
}

/* 圖片區塊 放入咖啡色區塊 */
#course .cimg {
    position: relative;
    /* border: solid 2px pink;  */
}

/* 單個圖片 */
.cimg img {
    width: 100%;
    height: 60vh;
    /* border: solid 3px pink; */
}

/* 小標題 藝術插花和圖示 */
#course nav {
    display: flex;
    align-items: center;
    /* border: solid 3px pink; */
}

/*藝術插花和其他的間距  */
#course span {
    padding: 0 10px;
    /* margin: 0 5px; */
}

/* 咖啡色區塊 */
#course .cblock h3 {
    background-color: rgba(155, 130, 86, 0.85);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 調整每個區塊相對的上下位置 */
.item1 {}

/* 5.teachers */
#teachers {
    color: #1d201d;
    background-color: #F0F0F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* 整個圖片區域 */
#teachers li {
    color: #1d201d;
    position: relative;
}

/* 師資名字 */
#teachers h2 {
    color: #fff;
    font-size: 26px;
    writing-mode: vertical-lr;
    position: absolute;
    left: 15px;
    top: 10px;
}

#teachers h4 {
    color: #fff;
    font-size: 14px;
    writing-mode: vertical-lr;
}

/* 圖片相對位置 */
.teachers_box {
    position: relative;
    width: 230px;
    height: 350px;
    display: flex;
}

/* 綠色方塊區 */
.teachers_good {
    background-color: #3C4935;
    opacity: 0.85;
    color: #fff;
    width: 70px;
    height: 300px;
    letter-spacing: 0.045em;
    position: absolute;
    right: 15px;
    bottom: -10px;
    z-index: 99;
}

/* 師資學歷 */
.teachers_college {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
}

/* 師資擅長 */
.teachers_best {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
}

/* 五個圖片區域 */
#teachers ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 130px;
}

.hr {
    border: solid 1px #797474;
    width: 700px;
}

/* 標題區 */
.n {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60px;
    top: 0;
}

/* 整個區塊 */
.a {
    position: relative;
}

/* bg_logo */
.b {
    position: absolute;
    top: -160px;
    right: 100px;
}



/* 6.news  */
#news {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 5px rgb(208, 148, 148); */
}

/* 左邊圖片 */
#news .pho img {
    height: 100vh;
    width: 100%;
    /* border: solid 5px rgb(190, 228, 243) */
}

/* 右邊內容區塊 */
#news .uu{
    padding: 10px;
    margin: 30px;
    /* border: solid 5px rgb(243, 224, 190) */

}
/* 標題列 */
#news .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    position: relative;
    padding-top:10px ;
    /* border: solid 5px rgb(190, 228, 243) */
}

/* 查看更多 */
#news .more {
    padding-top: 20px;
    position: absolute;
    top: 10px;
    right: 0;
}

/* 內容大區塊 */
#news .kk{
    position: relative;
    /* border: solid 5px rgb(190, 228, 243); */
}

/* 內容小區塊 */
#news .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    /* border: solid 5px rgb(230, 190, 243); */
}


/* 向右圈圈箭頭 */
#news .arrow {
    /* padding:20px 0; */
    padding-top: 20px;
    margin: 10px;
    /* border: solid 5px rgb(243, 235, 190) */
}

/* hr */
#news hr {
    margin-top: 15px;
    width: 570px;
}

/*活動快訊  */
#news h2{
    line-height: 1.5rem;
}


















/* 7.media */
#media {
    /* vertical-align: middle; */
    height: 100vh;
    /* t */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ; */
    margin-top: 700px;
    /* border: solid 5px red; */
}

/* 標題區 */
.media_nav {
    /* position: relative; */
    padding: 15px 5px 5px 10px;
    height: 80px;
    /* t */
    display: flex;
    flex-direction: column;
    line-height: 20px;
    /* border: solid 5px red; */
}

#media hr {
    width: 700px;
    background-color: #797474;
    margin: 30px 0;
}

/* logo */
.media_logo {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* t */
    /* position: absolute;
    right: 0;
    top: 0; */
    /* border: solid 5px red; */
    width: 700px;
    margin-right: 10px;

}

/* 大區塊 */
.media_main {
    display: flex;
    justify-content: space-around;
    /* border: solid 5px rgb(163, 236, 159); */
}

/* 小區塊*6 */
.media_section {
    width: 400px;
    height: 400px;
    /* border: solid 5px rgb(159, 214, 236); */
    padding: 0 10px;
    margin: 0 10px;
    /* display: flex;
    justify-content: space-between; */
}

/* 
.media_col{
    width: 400px;
    border: #a90707d3 5px solid;
} */

/* #media img{
    width: 350px;
    height: 200px;
} */

/* 內文日期 */
.media_date {
    font-size: 14px;
    color: #414042;
    letter-spacing: 2px;
    padding: 5px;
    margin: 5px;
}

/* 內文小標 */
.media_title {
    font-size: 16px;
    color: #1D201D;
    letter-spacing: 2px;
    line-height: 1.5rem;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

/* 內文文字 */
.media_text {
    font-size: 14px;
    color: #5C5C5C;
    letter-spacing: 2px;
    line-height: 1.5rem;
    padding: 5px;
    margin: 5px;
}

/* 閱讀更多 */
.media_more {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    color: #1D201D;
    letter-spacing: 2px;
}

/* nav區 */
.c {
    /* border: solid 5px rgb(250, 150, 150); */
    display: flex;
    /* justify-content: center; */
    padding: 10px 10px 0 10px;
    margin: 20px 10px 50px 10px;

}

/* 8.footer */
#footer {
    background-color: #3C4935;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 400px;
    /* border: solid 5px red; */

}

.footer_ul {
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    /* border: solid 5px rgb(142, 221, 211); */
}

.footer_li {
    position: relative;
    width: 350px;
    height: 300px;
    /* border: solid 5px rgb(206, 235, 171); */
    /* t2 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 上面列 */
/* logo/access/contact */
.footer_nav {
    margin: 30px 0;
}

/* 下面列 */
/* copyright/icon_social media/QA */
.footer_main {
    /* position: absolute;
    left: 0;
    bottom: 0; */
    /* border: solid 5px rgb(153, 191, 212); */
    margin: 30px 0;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-family: 'Unna', serif;
}

#footer h1 {
    color: #fff;
    ;
    font-size: 30px;
    font-family: 'Unna', serif;

}

#footer h3 {
    color: #E7E4DB;

}